@{
    ViewData["Title"] = "Date Me";
}

<h1>Date Me!</h1>

<div>
    <p>Today is your lucky day! You may have an opportunity to date this awesomeness.</p>
</div>

<img src="~/img/asleep.jpeg" height="500"/>
<br />

<div>
    <a asp-controller="Home" asp-action="DatingApplication">Fill Out Application</a>
</div>